body {
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: hsl(0, 0%, 98%);
}

/* Headings */
#header {
    font-weight: 200;
    color: hsl(212, 6%, 44%);
    margin-bottom: 0;
    font-size: 2rem;
}

#header2 {
    font-weight: 600;
    color: hsl(234, 12%, 34%);
    font-size: 2rem;
}

p {
    max-width: 31.25rem;
    color: hsl(212, 6%, 44%);
    font-weight: 400;
    line-height: 1.6;
    margin-top: 1rem;
}

/* ---------------------------------------------------- */
/*                  GRID LAYOUT                         */
/* ---------------------------------------------------- */

#cards-grid {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 90%;
    max-width: 70rem;
}

/* Positioning cards into official FM layout */
#supervisor {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

#team-builder {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

#karma {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
}

#calculator {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
}

/* ---------------------------------------------------- */
/*                     CARD STYLE                       */
/* ---------------------------------------------------- */

.card {
    background-color: white;
    color: hsl(234, 12%, 34%);
    width: 85%;
    min-height: 12rem;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,0.1);
    position: relative;
    text-align: left;
}

.card h3 {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.card p {
    margin-bottom: 2rem;
}

.card img {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    width: 3rem;
}

/* Unique border colors */
#supervisor {
    border-top: 0.25rem solid hsl(180, 62%, 55%);
}

#team-builder {
    border-top: 0.25rem solid hsl(0, 78%, 62%);
}

#karma {
    border-top: 0.25rem solid hsl(34, 97%, 64%);
}

#calculator {
    border-top: 0.25rem solid hsl(212, 86%, 64%);
}

/* ---------------------------------------------------- */
/*                 MOBILE RESPONSIVENESS                 */
/* ---------------------------------------------------- */

@media (max-width: 768px) {
    #cards-grid {
        grid-template-columns: 1fr;
    }

    #supervisor,
    #team-builder,
    #karma,
    #calculator {
        grid-column: auto;
        grid-row: auto;
    }
}
