body {
    background-color: black;
    font-family: 'Inter', sans-serif;
    color: white;
    display: flex;
    flex-direction: column; /* center items vertically in a column */
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

#main-box {
    background-color: hsl(0, 0%, 12%);
    max-width: 200rem;
    padding: 1rem;
    border-radius: 1.2rem;
    text-align: center;
}

#avatar {
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
}

#name {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

#location {
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: hsl(75, 94%, 57%);
}

#work {
    margin-top: 3rem;
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.attribution {
    margin-top: 1.5rem;
    font-size: 0.8rem;
}

#social-links {
    display: flex;
    flex-direction: column;
    gap: 0.7rem; /* space between buttons */
    margin-top: 1rem;
}

#social-links a {
    display: block;
    background-color: hsl(0, 0%, 20%);
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: background-color 0.2s ease;
}

#social-links a:hover {
    background-color: hsl(75, 94%, 57%);
    color: black;
}
